[submodule "packages/electron-swd"]
	path = packages/electron-swd
	url = https://github.com/VladislavKori/electron-swd
[submodule "packages/electron-lws"]
	path = packages/electron-lws
	url = https://github.com/VladislavKori/electron-lws
