.toggle {
  width: 60px;
  height: 34px;
  background: #f2f2f2;
  border-radius: 30px;
  position: relative;

  &__point {
    width: 24px;
    height: 24px;
    background: rgb(70, 70, 70);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;

    &.active {
      transform: translateY(-50%) translateX(100%);
      background: rgb(130, 130, 130);
    }
  }
}
