* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SF Pro Text;
  src: url("./FontsFree-Net-SFProDisplay-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

.block {
  width: 155px;
  height: 155px;
  border-radius: 21px;
  background-image: url("./bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 16px;
  user-select: none;
  -webkit-app-region: drag;
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-end;
  user-select: none;
}

.logo {
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

.text {
  color: #fff;
  text-shadow: 0px 0px 11px #000;
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  user-select: none;
}
