.inprocess {
  &__content {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 20px;
    padding-right: 10px;
    height: calc(100vh - 150px);

    /* Firefox */
    & {
      scrollbar-width: thin;
      scrollbar-color: #9ebbff #ebebeb;
    }

    /* Chrome, Edge and Safari */
    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #9ebbff;
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__lock {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;

    &-icon {
      width: auto;
      height: 100%;
    }
  }

  &__settings-item {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
}
