.buttonWithPopup {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(20px);
  outline: none;
  border: none;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 2;

  &:hover {
    background: #f7f7f7;
  }

  &__popup {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(120%);
    background: #f5f5f5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 10px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
  }

  &_active {
    background: #f7f7f7;
  }
}
